<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Dbconnectstring>Data Source=zw;User ID=PortalDB_sa;Password=123456;Initial Catalog=DiscuzDB;Pooling=true</Dbconnectstring>
  <Tableprefix>sjs_</Tableprefix>
  <Forumpath>/</Forumpath>
  <Dbtype>SqlServer</Dbtype>
  <Founderuid>1</Founderuid>
</BaseConfigInfo>

<!--复制到网站根目录下-->