<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppName" value="Demo" />
    <add key="UserPlugInDir" value="plugins" />
    <add key="InstallDir" value="installs" />
    <add key="BackupDir" value="backups" />
    <add key="RemovesFile" value="removes.txt" />
    <add key="PlugInFileExt" value="plugin" />
    <add key="PathStartup" value="/App/Startup" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
