<root>
	<config id="jsion_1" file="assets.swf" enable="true|" grey="|true|">
		<logo cls="" x="" y="" />
		<bg cls="assets.menu.BgAsset" x="" y="" />
		<items startX="120" startY="" itemWidth="70" itemHeight="50" itemCls="" splitCls="" overCls="assets.menu.ItemMouseOverAsset" downCls="" direction="Vertical|Horizontal|Vertical">
			<item label="首页"		font="微软雅黑" fontSize="13" fontColor="0xFFFFFF" fontBold="|true|" fontItalic="|true|" fontUnderLine="true|" overSize="" overColor="0x336699" overBold="" overItalic="" overUnderLine="" overOffsetX="" overOffsetY="" overCls="" downCls="" textVAlign="center|justify|left|center|right" textHAlign="middle|top|middle|bottom" link="" width="" height="" order="" itemCls="" />
			<item label="公司信息"	font="微软雅黑" fontSize="13" fontColor="0xFFFFFF" fontBold="|true|" fontItalic="|true|" fontUnderLine="true|" overSize="" overColor="0x336699" overBold="" overItalic="" overUnderLine="" overOffsetX="" overOffsetY="" overCls="" downCls="" textVAlign="center|justify|left|center|right" textHAlign="middle|top|middle|bottom" link="" width="" height="" order="" itemCls="" />
			<item label="证书"		font="微软雅黑" fontSize="13" fontColor="0xFFFFFF" fontBold="|true|" fontItalic="|true|" fontUnderLine="true|" overSize="" overColor="0x336699" overBold="" overItalic="" overUnderLine="" overOffsetX="" overOffsetY="" overCls="" downCls="" textVAlign="center|justify|left|center|right" textHAlign="middle|top|middle|bottom" link="" width="" height="" order="" itemCls="" />
			<item label="产品中心"	font="微软雅黑" fontSize="13" fontColor="0xFFFFFF" fontBold="|true|" fontItalic="|true|" fontUnderLine="true|" overSize="" overColor="0x336699" overBold="" overItalic="" overUnderLine="" overOffsetX="" overOffsetY="" overCls="" downCls="" textVAlign="center|justify|left|center|right" textHAlign="middle|top|middle|bottom" link="" width="" height="" order="" itemCls="" />
			<item label="经典案例" 	font="微软雅黑" fontSize="13" fontColor="0xFFFFFF" fontBold="|true|" fontItalic="|true|" fontUnderLine="true|" overSize="" overColor="0x336699" overBold="" overItalic="" overUnderLine="" overOffsetX="" overOffsetY="" overCls="" downCls="" textVAlign="center|justify|left|center|right" textHAlign="middle|top|middle|bottom" link="" width="" height="" order="" itemCls="" />
			<item label="加盟连锁" 	font="微软雅黑" fontSize="13" fontColor="0xFFFFFF" fontBold="|true|" fontItalic="|true|" fontUnderLine="true|" overSize="" overColor="0x336699" overBold="" overItalic="" overUnderLine="" overOffsetX="" overOffsetY="" overCls="" downCls="" textVAlign="center|justify|left|center|right" textHAlign="middle|top|middle|bottom" link="" width="" height="" order="" itemCls="" />
			<item label="招商合作" 	font="微软雅黑" fontSize="13" fontColor="0xFFFFFF" fontBold="|true|" fontItalic="|true|" fontUnderLine="true|" overSize="" overColor="0x336699" overBold="" overItalic="" overUnderLine="" overOffsetX="" overOffsetY="" overCls="" downCls="" textVAlign="center|justify|left|center|right" textHAlign="middle|top|middle|bottom" link="" width="" height="" order="" itemCls="" />
			<item label="加盟商风采"	font="微软雅黑" fontSize="13" fontColor="0xFFFFFF" fontBold="|true|" fontItalic="|true|" fontUnderLine="true|" overSize="" overColor="0x336699" overBold="" overItalic="" overUnderLine="" overOffsetX="" overOffsetY="" overCls="" downCls="" textVAlign="center|justify|left|center|right" textHAlign="middle|top|middle|bottom" link="" width="" height="" order="" itemCls="" />
			<item label="人才招聘" 	font="微软雅黑" fontSize="13" fontColor="0xFFFFFF" fontBold="|true|" fontItalic="|true|" fontUnderLine="true|" overSize="" overColor="0x336699" overBold="" overItalic="" overUnderLine="" overOffsetX="" overOffsetY="" overCls="" downCls="" textVAlign="center|justify|left|center|right" textHAlign="middle|top|middle|bottom" link="" width="" height="" order="" itemCls="" />
			<item label="联系我们" 	font="微软雅黑" fontSize="13" fontColor="0xFFFFFF" fontBold="|true|" fontItalic="|true|" fontUnderLine="true|" overSize="" overColor="0x336699" overBold="" overItalic="" overUnderLine="" overOffsetX="" overOffsetY="" overCls="" downCls="" textVAlign="center|justify|left|center|right" textHAlign="middle|top|middle|bottom" link="" width="" height="" order="" itemCls="" />
		</items>
	</config>
</root>