<?xml version="1.0" encoding="utf-8" ?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--<Dbconnectstring>Data Source=.\JSIONSQL;User ID=sa;Password=sa;Initial Catalog=BookingDB;Pooling=true</Dbconnectstring>-->
    <Dbconnectstring>Data Source=WWW-BB20F355040;User ID=sa;Password=AIYA.COM.CN;Initial Catalog=BookingSysDB;Pooling=true</Dbconnectstring>
    <Sitepath>/</Sitepath>
    <Dbtype>SqlServer</Dbtype>
    <Creatoruid>1</Creatoruid>
    <Appid>1</Appid>
</BaseConfigInfo>

<!--复制到网站根目录下-->