<root main="knightage.core.StartGame">
	<!--
	<Policys>
		<policy file="crossdomain.xml" />
	</Policys>
	-->
	
	
	<version from="1" to="2">
		<file value="*.png" />
	</version>
	
	
	<Startup id="JsionCore" cls="jsion.core.JsionCoreModule" url="KAssets/libs/JsionCore.swc" crypted="false" />
	
	<Modules>
		<Module id="KLoading" cls="knightage.loading.KLoadingModule" url="KLoading/bin/KLoading.swc" autoLoad="true" crypted="false" target="_self" />
		
		<Module id="KCore" cls="knightage.core.KCoreModule" url="KCore/bin/KCore.swc" autoLoad="false" crypted="false" target="_self" ></Module>
		<Module id="JsionComps" cls="" url="KAssets/libs/JsionComps.swc" autoLoad="false" crypted="false" target="_self" />
		<Module id="JsionSocket" cls="jsion.socket.SocketModule" url="KAssets/libs/JsionSocket.swc" autoLoad="false" crypted="false" target="_self" />
		
		<Module id="KDebugLogin" cls="knightage.debuglogin.KDebugLoginModule" url="KDebugLogin/bin/KDebugLogin.swc" autoLoad="false" crypted="false" target="_self" />
		
		<Module id="KCity" cls="knightage.city.KCityModule" url="KCity/bin/KCity.swc" autoLoad="false" crypted="false" target="_self" />
		<Module id="KLogin" cls="knightage.city.KCityModule" url="KLogin/bin/KLogin.swc" autoLoad="false" crypted="false" target="_self" />
		<!--<Module id="KFighter" cls="slg.fighter.FighterModule" url="KFighter/bin/KFighter.swc" autoLoad="false" crypted="false" target="_self" />-->
	</Modules>
	
	<config Ver=""
		Copyright=""
		Agent=""
		AgentID=""
		Language="zh-cn"
		GameWidth="1250"
		GameHeight="650"
		LoadingGround=""
		InnerCityGround="citybg.png"
		WorldGround="worldbg.png"
		MissionGround="missionbg.png"
		fps = "3"
		Debug="true" 
		
		SrvIP="192.168.1.254"
		SrvPort="7878"
		
		LoginUrl=""
		PayUrl=""
		ForumUrl=""
		ModRoot="../../"
		ResRoot="assets" />
</root>