<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="connectString" value="Data Source=58.33.159.215;Initial Catalog=NewDB;Persist Security Info=True;User ID=sa;Password=a133133A" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
