<Root LibRoot="../../" LoadingMode="2">
	<policy file="http://127.0.0.1/crossdomain.xml" />
	
	<version from="0" to="1">
		<file value="*.png" />
	</version>
	
	<Startup CoreLib="Assets/libs/JsionCore.swf" CoreStartFn="jsion.JsionCoreSetup" LoadingLib="Loading\bin\Loading.swf" LoadingStartFn="StartLoading" />
	
	<Loading id="debug" 		libPath="Assets\libs\JsionDebug.swc" />
	<Loading id="gameCore" 		libPath="Assets\libs\GameCore.swc" />
	<Loading id="component"		libPath="Assets\libs\JsionComponent.swc" />
	
	<Loading id="core" 			libPath="Core\bin\Core.swc" />
	<Loading id="debugLogin" 	libPath="DebugLogin\bin\DebugLogin.swc" />
	<Loading id="login" 		libPath="Login\bin\Login.swc" />
	<Loading id="template" 		libPath="Loader\src\assets\Templates.xml" />
	<Loading id="language" 		libPath="Loader\src\assets\Language-zh_CN.txt" />
</Root>