<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServerID" value="1" />
    <add key="ServerName" value="Jsion Server" />
    <add key="Port" value="7718" />

    <add key="ServerConnectTryTimes" value="3" />
    <add key="CenterServerIP" value="192.168.16.119" />
    <add key="CenterServerPort" value="7710" />
    <add key="BattleServerList" value="192.168.16.119:7720" />
    <add key="ClientsCountMax" value="5000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
