<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServerName" value="框架 - 中心服务器" />
    <add key="Port" value="9000" />
    <add key="CacheIP" value="192.168.1.200" />
    <add key="CachePort" value="10000" />
    <add key="MaxClients" value="5000" />
    <add key="BuffSize" value="2048" />
    <add key="BuffPoolSize" value="15000" />
    <add key="TemplateFile" value="templates.xml" />
    <add key="StartupCmds" value="AllocBuffer,InitTemplate,SearchHandlers,Listen" />
    
    <add key="connectString" value="Data Source=CODESRV\SQLEXPRESS;Initial Catalog=KDB;Persist Security Info=True;User ID=sa;Password=sa" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
