<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Condition" value="&lt;policy-file-request/&gt;" />
    <add key="SimpleCheck" value="True" />
    <add key="CrossFile" value="a.txt" />
    <add key="Port" value="843" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
